<div class="container">
  <div class="grid">
    <div class="message">
      <p class="message__content">
        Không tìm thấy trang do nội dung đã bị thay đổi hoặc đã bị xóa, xin lỗi
        vì bất tiện này
        <i class="far fa-sad-tear message__icon"></i>
      </p>
      <a href="/" class="btn btn--home">
        <i class="fas fa-home btn__icon"></i>
        Về Trang Chủ
      </a>
    </div>
  </div>
</div>