<div class="container">
  <div class="grid">
    <div class="separate">
      <h2 class="separate__heading">
        Liên Hệ
      </h2>
    </div>
    <div class="contact">
      <p class="contact__info contact__info--strong">Nhà Đất Đức Hòa</p>
      <p class="contact__info">
        Địa chỉ: Thị Trấn Hậu Nghĩa, Đức Hòa, Long An
      </p>
      <p class="contact__info">Điện thoại: 0976.528.849 - 0867.129.832</p>
      <p class="contact__info">Email: nhadatduchoa.vn@gmail.com</p>
      <p class="contact__info">Website: nhadatduchoa.vn</p>
    </div>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.8742199107865!2d106.39910761605965!3d10.897162538767475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310b29d73bee33f5%3A0xdaacbc5d0bcfeb05!2zMTg2IMSQVDgyMywgVFQuIEjhuq11IE5naMSpYSwgxJDhu6ljIEjDsmEsIExvbmcgQW4sIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1662297782468!5m2!1svi!2s"
      width="100%"
      height="500"
      style="border: 0; margin-top: 20px"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>