<div class="container">
  <div class="grid">
    <div class="message">
      <p class="message__content">
        Tính năng này sẽ sớm được cập nhật, vui lòng quay lại sau hoặc trở về
        trang chủ
        <i class="far fa-smile message__icon"></i>
      </p>
      <a href="/" class="btn btn--home">
        <i class="fas fa-home btn__icon"></i>
        Về Trang Chủ
      </a>
    </div>
  </div>
</div>