<footer class="footer">
  <div class="footer__top"></div>
  <div class="footer__middle">
    <div class="grid">
      <div class="row no-gutters">

        <div class="col l-3 m-6 c-12">
          <div class="footer__middle__col">
            <h2 class="footer__middle__heading">Chuyển trang</h2>
            <ul class="footer__middle__list">
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Trang Chủ
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/nha-dat" class="footer__middle__link">
                  Nhà Đất
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/news" class="footer__middle__link">
                  Tin Tức
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/service" class="footer__middle__link">
                  Dịch Vụ
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/contact" class="footer__middle__link">
                  Liên Hệ
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col l-3 m-6 c-12">
          <div class="footer__middle__col">
            <h2 class="footer__middle__heading">Liên kết</h2>
            <ul class="footer__middle__list">
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Nhà Đất Đức Hòa
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Đất Thổ Đức Hòa
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Nhà Đất Chính Chủ
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Nhà Đất Đức Huệ
                </a>
              </li>
              <li class="footer__middle__item">
                <a href="/" class="footer__middle__link">
                  Mua Bán Nhà Đất
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col l-3 m-6 c-12">
          <div class="footer__middle__col">
            <h2 class="footer__middle__heading">Liên hệ</h2>
            <ul class="footer__middle__list">
              <li class="footer__middle__item">Nhà Đất Đức Hòa</li>
              <li class="footer__middle__item">
                Địa chỉ: TT Hậu Nghĩa, Đức Hòa, Long An
              </li>
              <li class="footer__middle__item">
                Điện thoại: 0976528849 - 0867129832
              </li>
              <li class="footer__middle__item">
                Email: nhadatduchoa.vn@gmail.com
              </li>
              <li class="footer__middle__item">
                Website: nhadatduchoa.vn
              </li>
            </ul>
          </div>
        </div>

        <div class="col l-3 m-6 c-12">
          <div class="footer__middle__col">
            <div
              class="fb-page"
              data-href="https://www.facebook.com/nhadatduchoala"
              data-width="500px"
              data-height="300px"
              data-small-header="true"
              data-adapt-container-width="true"
              data-hide-cover="true"
              data-show-facepile="false"
            >
              <blockquote
                cite="https://www.facebook.com/nhadatduchoala"
                class="fb-xfbml-parse-ignore"
              >
                <a href="https://www.facebook.com/nhadatduchoala">Nhà Đất Đức
                  Hòa</a>
              </blockquote>
            </div>
            <a href="#" class="footer__middle__link">
              <img
                src="/assets/images/logoSaleNoti.png"
                alt="logo-da-thong-bao-bo-cong-thuong"
                class="footer__middle__image"
              />
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="grid">
      <p class="footer__bottom__copyright">
        Copyright &copy; 2022.
        <a href="/" class="footer__bottom__link">Nhà Đất Đức Hòa</a>
      </p>
    </div>
  </div>
</footer>
<!-- end footer -->