<header class="header">
  <div class="grid">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="/" class="header__logo__link">
          <img
            src="/assets/images/logo.svg"
            alt="Logo Nhà Đất Đức Hòa"
            title="Nhà Đất Đức Hòa"
            class="header__logo__image"
          />
        </a>
      </div>

      <nav class="header__mobile">
        <div class="header__mobile__overlay"></div>
        <span class="header__mobile__button">
          <i class="fas fa-bars header__mobile__icon"></i>
        </span>
        <ul class="header__mobile__list">
          <li class="header__mobile__item">
            <a href="/" class="header__mobile__link">Trang Chủ</a>
          </li>
          <li class="header__mobile__item">
            <a href="/nha-dat" class="header__mobile__link">Nhà Đất</a>
          </li>
          <li class="header__mobile__item">
            <a href="/news" class="header__mobile__link">Tin Tức</a>
          </li>
          <li class="header__mobile__item">
            <a href="/service" class="header__mobile__link">Dịch Vụ</a>
          </li>

          <li class="header__mobile__item">
            <a href="/contact" class="header__mobile__link">Liên Hệ</a>
          </li>
          <li class="header__mobile__item">
            <span class="header__mobile__span">Liên Kết
              <i class="fas fa-chevron-down header__mobile__span__icon"></i>
            </span>
            <ul class="header__mobile__span__list">
              <li class="header__mobile__span__item">
                <a href="/" class="header__mobile__span__link">Nhà Đất Đức Hòa</a>
              </li>
              <li class="header__mobile__span__item">
                <a href="/" class="header__mobile__span__link">
                  Nhà Đất Đức Huệ
                </a>
              </li>
              <li class="header__mobile__span__item">
                <a href="/" class="header__mobile__span__link">
                  Hành Chính Công
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <nav class="header__navbar hide-on-mobile-tablet">
        <ul class="header__navbar__list">
          <li class="header__navbar__item">
            <a href="/" class="header__navbar__link">Trang Chủ</a>
          </li>
          <li class="header__navbar__item">
            <a href="/nha-dat" class="header__navbar__link">Nhà Đất</a>
          </li>
          <li class="header__navbar__item">
            <a href="/news" class="header__navbar__link">Tin Tức</a>
          </li>
          <li class="header__navbar__item">
            <a href="/service" class="header__navbar__link">Dịch Vụ</a>
          </li>
          <li class="header__navbar__item">
            <a href="/contact" class="header__navbar__link">Liên Hệ</a>
          </li>
          <li class="header__navbar__item">
            <span class="header__navbar__span">
              Liên Kết
              <i class="fas fa-chevron-down header__navbar__span__icon"></i>
            </span>
            <ul class="header__navbar__span__list">
              <li class="header__navbar__span__item">
                <a href="/" class="header__navbar__span__link">Nhà Đất Đức Hòa</a>
              </li>
              <li class="header__navbar__span__item">
                <a href="/" class="header__navbar__span__link">Nhà Đất Đức Huệ</a>
              </li>
              <li class="header__navbar__span__item">
                <a href="/" class="header__navbar__span__link">
                  Hành Chính Công
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- end header -->