<div class="land">
  <div class="grid">
    <ul class="land__list">
      <div class="row no-gutters">
        <div class="col l-3 m-6 c-12">
          <ul>
            <li class="land__item">
              <a href="/nha-dat/duc-hoa" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Hòa</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/hau-nghia" class="land__link">Nhà đất
                <span class="land__link--strong">Hậu Nghĩa</span>
              </a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/hiep-hoa" class="land__link">Nhà đất
                <span class="land__link--strong">Hiệp Hòa</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/an-ninh-dong" class="land__link">Nhà đất
                <span class="land__link--strong">An Ninh Đông</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/an-ninh-tay" class="land__link">Nhà đất
                <span class="land__link--strong">An Ninh Tây</span></a>
            </li>
          </ul>
        </div>
        <div class="col l-3 m-6 c-12">
          <ul>
            <li class="land__item">
              <a href="/nha-dat/duc-hoa-dong" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Hòa Đông</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/duc-hoa-ha" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Hòa Hạ</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/duc-hoa-thuong" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Hòa Thượng</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/duc-lap-ha" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Lập Hạ</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/duc-lap-thuong" class="land__link">Nhà đất
                <span class="land__link--strong">Đức Lập Thượng</span></a>
            </li>
          </ul>
        </div>
        <div class="col l-3 m-6 c-12">
          <ul>
            <li class="land__item">
              <a href="/nha-dat/xa-hiep-hoa" class="land__link">Nhà đất
                <span class="land__link--strong">Xã Hiệp Hòa</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/hoa-khanh-dong" class="land__link">Nhà đất
                <span class="land__link--strong">Hòa Khánh Đông</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/hoa-khanh-nam" class="land__link">Nhà đất
                <span class="land__link--strong">Hòa Khánh Nam</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/hoa-khanh-tay" class="land__link">Nhà đất
                <span class="land__link--strong">Hòa Khánh Tây</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/huu-thanh" class="land__link">Nhà đất
                <span class="land__link--strong">Hựu Thạnh</span></a>
            </li>
          </ul>
        </div>
        <div class="col l-3 m-6 c-12">
          <ul>
            <li class="land__item">
              <a href="/nha-dat/loc-giang" class="land__link">Nhà đất
                <span class="land__link--strong">Lộc Giang</span></a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/my-hanh-bac" class="land__link">Nhà đất
                <span class="land__link--strong">Mỹ Hạnh Bắc</span>
              </a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/my-hanh-nam" class="land__link">Nhà đất
                <span class="land__link--strong">Mỹ Hạnh Nam</span>
              </a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/tan-my" class="land__link">Nhà đất
                <span class="land__link--strong">Tân Mỹ</span>
              </a>
            </li>
            <li class="land__item">
              <a href="/nha-dat/tan-phu" class="land__link">Nhà đất
                <span class="land__link--strong">Tân Phú</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</div>
<!-- end land -->