<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta http-equiv="Content-Language" content="vi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#fff">
    <link rel="apple-touch-icon" sizes="180x180" href="/resource/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resource/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resource/favicon-16x16.png">
    <link rel="manifest" href="/resource/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="author" content="Nhadatduchoa.vn">
    <meta name="copyright" content="Copyright 2022 Nhà Đất Đức Hòa">
    <link rel="stylesheet" href="/assets/css/main.min.css?v=1.0" />
    <meta content="index,follow" name="robots">
    <meta name="revisit-after" content="1 days">
    <meta name="description" content="Nhadatduchoa.vn, kênh thông tin mua bán nhà đất, cho thuê nhà, văn phòng ở huyện Đức Hòa - Long An, nhà đất chính chủ, nhà đất giá rẻ. Cập nhật thông tin mua bán nhà đất mới nhất">
    <meta name="keywords" content="bán nhà, nhà đất, mua bán nhà đất, bán đất, nhà đất đức hòa, nhadatduchoa, nhadatduchoa.vn">
    <link rel="canonical" href="https://nhadatduchoa.vn">
    <title>{{title}}</title>
  </head>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0"
      nonce="Oig5O2JN"
    ></script>
    <div class="wrapper">
      {{> header}}
      {{{body}}}

      {{> land}}
      {{> footer}}
    </div>
    <a href="tel:0976528849" class="button__fixed" aria-label="phone">
      <i class="fas fa-phone-alt button__fixed__icon"></i>
    </a>
    <a
      href="https://zalo.me/0976528849"
      target="_blank"
      class="button__fixed button__fixed--zalo"
      aria-label="zalo"
    >
      <img
        src="/assets/images/icon-zalo.png"
        alt="bieu-tuong-zalo"
        class="button__fixed__icon--zalo"
      />
    </a>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
      integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/assets/js/main-desktop.js?v=1.0"></script>
  </body>
</html>